.bg-gradient-sale {
  background: linear-gradient(to right, #f4d968, #d0813f);
}

* {
  padding: 0;
  margin: 0;
  line-height: 120%;
  font-family: "Inter";
  font-weight: 400;
}

.wrapper {
  max-width: 1396px;
  padding-inline: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ant-btn-primary {
  font-size: 16px;
  height: 48px;
  box-shadow: none;
}